

.img{
    width: 150px;
    border-radius: 50%;
}




.titulo{
    display: flex;
    justify-content: center ;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}



.c2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.border{
    border: 5px;
}

.membros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   ;
    
    

}

.p{
    padding: 10px;

}

.nome{
    text-align: center;
}

.gitbutton{
    color: white !important;
    background: black !important;
    font-size: x-small !important;


}
.button-linkedin{
    color: white !important;
    background: #0e76a8 !important;
    font-size: x-small !important;
}

.button{
    display: flex !important;
    align-items: flex-start !important;
    justify-content: space-evenly !important;
    justify-items: center !important;
    margin-bottom: 10px !important;

}

.pad{
    padding-right: 10px !important;
}




    
    


