.imagem {
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.imgLogin {
  width: 100%;
}

.Grid-1 {
  min-height: 90vh;
}

.button-cd {
  color: #766B8D;
}