.footer-copy {
    background-color: #766B8D;
    width: 100%;
}

.text-color {
    color: #ffffff;
}

.social {
    font-size: 25px;
    color: white;
}

.mudarnocel {

    width: 40%;
}

@media (max-width: 600px) {
    .mudarnocel {
        width: 130px;
    }
}