.footer-color {
    background-color: #766B8D;

}

.footer-copy {
    background-color: #766B8D;
    width: 100%;
}

.text-color {
    color: #ffffff;
}

.social {
    font-size: 25px;
    color: white;
}