.imagem2{
    background-image: url(/public/assets/images/undraw_annotation_re_h774.svg);
    background-repeat: no-repeat;
    width: auto;
    height: 90vh;
    background-size:contain;
    background-position: center;
}

.textos2{
    font-weight:bolder;
}

.btnCancelar{
    margin-right: 20px !important;
}